.navbar {
  height: 100px;
  padding: 0px 50px;
  background-color: slategrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
}

.left {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  width: 60px;
  height: 60px;
  border-radius: 45%;
  cursor: pointer;
  margin: 10px;
}

.logoText {
  color: aliceblue;
  padding: 5px;
  font-size: 20px;
}

.center {
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.link {
  color: blue;
  text-decoration: none;
}

.navListItem {
  font-size: 30px;
  margin-right: 60px;
  font-weight: 400;
  color: aliceblue;
  cursor: pointer;
  list-style: none;
}

.right {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart{
    position: relative;
    cursor: pointer;
}

.counter{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #d1411e;
}

.personContainer {
  margin: 30px;
}

.person {
  cursor: pointer;
  color: aliceblue;
  border-radius: 50%;
  margin: 30px;
}